**/node_modules
**/dist
**/.turbo
**/tsconfig.tsbuildinfo

.git
.gitignore
.github

.env
.env.*
!.env.example

data
caddy-data
caddy-config

docs
*.md
!packages/**/*.md

.vscode
.idea
.DS_Store
*.log

scripts/*.log
coverage
.nyc_output
